[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
ultralytics = "*"
pyyaml = "==5.3.1"
tensorflow = "==2.8.0"
absl-py = "*"
object-detection = {file = "models/research"}

[dev-packages]

[requires]
python_version = "3.8"
